body{
    background-color: brown;
}
#container{
    display:flex;
    margin-left: 150px;
    margin-top: 60px;
    margin-bottom: 350px;
    background-color: azure;
    border-radius: 10px;
    margin-right: 450px;


}
#canon{
    width: 350px;
    height:450px;
    border-radius: 10px;
}
#cart{
    width: 150px;
    color: white;
    font-size: bold;
    border:none;
    border-radius: 10px;
    background-color: rgb(0, 8, 0);
    padding: 10px;
    font-weight: 700;
}
#cart img{
    width: 40px;
    height: 30px;
    margin-top: -5px;
}
#sec2{
    margin-left: 40px;
}
#perfume{
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  word-spacing: 10px;
}
#title{
    margin-top: -10px;
    font-size:xx-large;
    font-family: cambria;
    font-weight: bold;
}
#price{
    font-size:xx-large;
    font-family:arial;
    font-weight: bolder;
    color: rgb(3, 167, 3)
}
#price2{margin-left: 10px;
      font-size: medium;
      color:black;
}